<header>
    <div class="header__container">
        <div class="header__container__wrapper">
            <div class="header__container__wrapper__logo"><a routerLink="/">Logo</a></div>
            <ul class="header__container__wrapper__menu">
                <li class="header__container__wrapper__menu--item"><a routerLink="/">Home</a></li>
                <li class="header__container__wrapper__menu--item"><a routerLink="/about">About</a></li>
                <li class="header__container__wrapper__menu--item"><a routerLink="/contact">Contact</a></li>
                <li class="header__container__wrapper__menu--item"><a routerLink="/signin">Signin</a></li>
            </ul>
        </div>
    </div>
</header>