$fbg-color: #1f2338;
$base-color: #f84b67;

.footer__container {
  margin: 1em 0 0 0;
  &__wrapper {
    min-height: 250px;
    background-color: #1f2338;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__single {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 2em;
      @media (min-width: 768px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media (min-width: 992px) {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
      & h4 {
        color: #fff;
        font-size: 1.5em;
        margin: 0 0 0.5em 0;
      }
      & p,
      span,
      a {
        display: block;
        color: rgba(#fff, 0.6);
        line-height: 1.5;
      }
      & ul {
        list-style: none;
      }
      & a {
        text-decoration: none;
        &:hover {
          color: $base-color;
        }
      }

      &--logo a {
        color: #fff;
        font-weight: bold;
        font-size: 2em;
        margin: 1em 0;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
